<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-2 fixed-left p-3" style="border:1px solid; background-color:whitesmoke;">
            <p>Welcome, <%= @user.username %></p>
            <p><%= @user.neighborhood.name %></p>
            <div style="border:1px solid;">Lobby</div>
            <div style="border:1px solid;">Market</div>
            <div style="border:1px solid;">Event</div>
            <div style="border:1px solid;">Recycle</div>
            <div style="border:1px solid;">Directory</div>
            <p><%= @user.town.name %></p>
            <div style="border:1px solid;">Panel 1</div>
            <div style="border:1px solid;">Panel 2</div>
            <div style="border:1px solid;">Panel 3</div>
            <div style="border:1px solid;">Panel 4</div>
            <div style="border:1px solid;">Panel 5</div>
        </div>

        <div class="col-lg-7 p-3" style="border:1px solid; background-color:whitesmoke;">

            <h5>Welcome Back to <%= @user.neighborhood.name %>, <%= @user.town.name %></h5>

            <%= form_for @neighborhood_post, remote: true do |f| %>
                <div class="input-group mt-2 mb-2">
                    <%= f.text_field :post, placeholder: "Say Something", class: "form-control form-control-sm", id: "post" %>
                    <%= f.submit "Post", class: "btn btn-outline-success btn-sm" %>
                </div>
            <% end %>
            
            <div id="neighborhood-posts">
                <%= render partial: 'neighborhoods/post' %>
            </div>


        </div>
        <div class="col-lg-3 fixed-right p-3" style="border:1px solid; background-color:whitesmoke;">
            <p>Sponsor</p>
        </div>
    </div>
</div>