<main>
<div class="container m-4 p-4 shadow rounded">

    <h4 class="text-center mb-3">Please Select Your Liveplace</h4>
    <%= form_for(@user, url: sethome_user_path) do |f| %>
    <!-- %= f.hidden_field :id, value: current_user.id %-->
    <div class=row>
        <div class="col-lg-6">
            <label for="country">Select a Country</label>
            <div class="input-group mb-3">
                <%= f.select(:country_id, Country.all.collect {|c| [ c.name, c.id ] }, {include_blank: "Select Country"}, class: "custom-select", id: "country") %>
            </div>
        </div>
        <div class="col-lg-6">
            <label for="state">Select a State</label>
            <div class="input-group mb-3">
                <%= f.select(:state_id, {}, {include_blank: "Select Country First"}, class: "custom-select", id: "state") %>
            </div>
        </div>

        <div class="col-lg-6">
            <label for="city">Select a City</label>
            <div class="input-group mb-3">
                <%= f.select(:city_id, {}, {include_blank: "Select State First"}, class: "custom-select", id: "city") %>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="town">Town</label>
                <%= f.text_field :town_name, placeholder: "Enter Your Town", class: "form-control", id: "town" %>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="neighborhood">Neighborhood</label>
                <%= f.text_field :neighborhood_name, placeholder: "Enter Your Neighborhood", class: "form-control", id: "neighborhood" %>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <%= f.submit "Confirm Liveplace", class: "btn btn-success" %>
    </div>

    <% end %>
    
</div>
</main>

<script>

    $('#country').change(function () {
        state_update();
    });

    $('#state').change(function () {
        city_update();
    });
    
    function state_update() {
        var input_state = $('#state');
        $.getJSON('/states/' + $('#country').val(), function (data) {
            input_state.empty();
            input_state.append('<option disabled selected>Please Select a State</option>');
            $.each(data, function (i) {
            opt = '<option value='+ data[i]["id"] +'>' + data[i]["name"] + '</option>';
            input_state.append(opt);
            });
        });
    }

    function city_update() {
        var input_city = $('#city');
        $.getJSON('/cities/' + $('#state').val(), function (data) {
            input_city.empty();
            input_city.append('<option disabled selected>Please Select a City</option>');
            $.each(data, function (i) {
            opt = '<option value='+ data[i]["id"] +'>' + data[i]["name"] + '</option>';
            input_city.append(opt);
            });
        });
    }

</script>